<launch>
	<!-- Delete old move_base component parameters -->
	<rosparam command="delete" param="/move_base"/>

	<!-- Run costmaps and planners -->
	<node name="move_base" pkg="move_base" type="move_base" 
        respawn="false"  output="screen">
  		<remap from="/map" to="/map_planner" />
		  <remap from="/cmd_vel" to="/nav_cmd_vel"/>
		  <remap from="/odom" to="/wheels_odom"/>

    	<rosparam command="load" ns="global_costmap" 
                file="$(find tacbot_navigation)/config/costmap_common_params.yaml"/>
    	<rosparam command="load" ns="local_costmap" 
                file="$(find tacbot_navigation)/config/costmap_common_params.yaml"/>
    	<rosparam command="load" 
                file="$(find tacbot_navigation)/config/local_costmap_params.yaml"/>
    	<rosparam command="load" 
                file="$(find tacbot_navigation)/config/global_costmap_params.yaml"/>
    	<rosparam command="load" 
                file="$(find tacbot_navigation)/config/dwa_local_planner_params.yaml"/>
    	<rosparam command="load" 
                file="$(find tacbot_navigation)/config/global_planner_params.yaml"/>
    	<rosparam command="load" 
                file="$(find tacbot_navigation)/config/move_base_params.yaml"/>
  </node>
</launch>
