<launch>
	<!-- Run mapserver for planners -->
	<node name="map_server" pkg="map_server" type="map_server" 
			  args="$(find carol_navigation)/maps/k3.yaml"/>

	<!-- Run mapserver  -->
  	<node name="map_server2" pkg="map_server" type="map_server" 
			    args="$(find carol_navigation)/maps/k3.yaml">
	</node>

	<!-- Run costmaps and planners -->
	<include file="$(find carol_navigation)/launch/move_base_test.launch"/>
</launch>
