  <?xml version="1.0"?>
  <model>
    <name>tacbot</name>
    <version>1.0</version>
    <sdf>urdf/tacbot.urdf</sdf>
    <author>
      <name>Michal Drwiega</name>
      <email>drwiega.michal@gmail.com</email>
    </author>
    <description>
      A description of the model
    </description>
  </model>
