<?xml version="1.0"?>
<!-- Tacbot robot -->
<robot name="tacbot" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- Properties -->
	<xacro:property name="prefix" value="$(arg prefix)"/>
	<xacro:arg name="prefix" default="r1"/>

    <xacro:include filename="utils.xacro"/>
    <xacro:include filename="materials.xacro"/>

    <!-- Base link and wheels -->
    <xacro:include filename="base.xacro"/>
    <xacro:include filename="wheel.xacro"/>
    <base_link prefix="${prefix}"/>

    <wheel prefix="${prefix}" postfix="FL" side="1" front="1"/>
    <wheel prefix="${prefix}" postfix="FR" side="-1"  front="1"/>
    <wheel prefix="${prefix}" postfix="BL" side="1" front="-1"/>
    <wheel prefix="${prefix}" postfix="BR" side="-1"  front="-1"/>

    <xacro:include filename="base.gazebo.xacro"/>
    <base_gazebo prefix="${prefix}"/>
    
    <xacro:include filename="wheel.gazebo.xacro"/>
    <wheel_gazebo prefix="${prefix}" postfix="FL"/>
    <wheel_gazebo prefix="${prefix}" postfix="FR"/>
    <wheel_gazebo prefix="${prefix}" postfix="BL"/>
    <wheel_gazebo prefix="${prefix}" postfix="BR"/>

    <!-- IMU sensor -->
    <xacro:include filename="sensors/imu.xacro"/>
    <xacro:include filename="sensors/imu.gazebo.xacro"/>
    <sensor_imu prefix="${prefix}" parent="${prefix}_base_link"/>
    <sensor_imu_gazebo prefix="${prefix}"/>

    <!-- Kinect sensor -->
    <xacro:include filename="sensors/kinect.xacro"/>
    <xacro:include filename="sensors/kinect.gazebo.xacro"/>
    <sensor_kinect prefix="${prefix}" parent="${prefix}_base_link"/>
    <sensor_kinect_gazebo prefix="${prefix}"/>

    <!-- Hokuyo LX30 -->
    <xacro:include filename="sensors/hokuyo_lx30.xacro"/>
    <xacro:include filename="sensors/hokuyo_lx30.gazebo.xacro"/>
    <hokuyo_lx30 prefix="${prefix}" parent="${prefix}_base_link"/>
    <hokuyo_lx30_gazebo prefix="${prefix}"/>

</robot>