<?xml version="1.0"?>

<robot name="tacbot_sim" xmlns:xacro="http://ros.org/wiki/xacro">
    <!-- Wheels macro -->
    <xacro:macro name="wheel_sim" params="postfix">
        <gazebo reference="wheel_${postfix}">
            <mu1>1.0</mu1>
            <mu2>1.0</mu2>
            <kp>10000.0</kp>
            <kd>10.0</kd>
            <minDepth>0.001</minDepth>
            <maxVel>1.0</maxVel>
            <material>Gazebo/Black</material>
        </gazebo>

        <gazebo reference="wheel_${postfix}_joint"/>
    </xacro:macro>

    <xacro:macro name="tacbot_sim">
        <!-- Base link -->
        <gazebo reference="base_link">
            <mu1>0.3</mu1>
            <mu2>0.3</mu2>
            <material>Gazebo/Grey</material>
        </gazebo>

        <!-- Wheels -->
        <xacro:wheel_sim postfix="FL"/>
        <xacro:wheel_sim postfix="FR"/>
        <xacro:wheel_sim postfix="BL"/>
        <xacro:wheel_sim postfix="BR"/>

        <!-- Tacbot controller plugin for Gazebo -->
        <gazebo>
            <plugin name="tacbot_controller" filename="libgazebo_ros_tacbot.so">
                <wheel_BL_joint_name>wheel_BL_joint</wheel_BL_joint_name>
                <wheel_BR_joint_name>wheel_BR_joint</wheel_BR_joint_name>
                <wheel_FL_joint_name>wheel_FL_joint</wheel_FL_joint_name>
                <wheel_FR_joint_name>wheel_FR_joint</wheel_FR_joint_name>
                <reg_kp>1.0</reg_kp>
                <reg_ki>0</reg_ki>
                <reg_kd>0</reg_kd>
                <back_wheel_separation>.3</back_wheel_separation>
                <front_wheel_separation>.3</front_wheel_separation>
                <wheel_diameter>0.11</wheel_diameter>
                <max_torque>0.5</max_torque>
                <publish_tf>1</publish_tf>
            </plugin>
        </gazebo>
    </xacro:macro>

    <!-- Microsoft Kinect for simulation -->
    <xacro:macro name="tacbot_3dsensor_sim">
        <gazebo reference="camera_link">
        <sensor type="depth" name="camera">
        <always_on>true</always_on>
        <update_rate>20.0</update_rate>
        <camera>
            <horizontal_fov>${60.0*pi/180.0}</horizontal_fov>
            <image>
                <format>R8G8B8</format>
                <width>640</width>
                <height>480</height>
            </image>
            <clip>
                <near>0.05</near>
                <far>8.0</far>
            </clip>
        </camera>
        <plugin name="kinect_camera_controller" filename="libgazebo_ros_openni_kinect.so">
            <cameraName>camera</cameraName>
            <alwaysOn>true</alwaysOn>
            <updateRate>10</updateRate>
            <imageTopicName>rgb/image_raw</imageTopicName>
            <depthImageTopicName>depth/image_raw</depthImageTopicName>
            <pointCloudTopicName>depth/points</pointCloudTopicName>
            <cameraInfoTopicName>rgb/camera_info</cameraInfoTopicName>
            <depthImageCameraInfoTopicName>depth/camera_info</depthImageCameraInfoTopicName>
            <frameName>camera_depth_optical_frame</frameName>
            <baseline>0.1</baseline>
            <distortion_k1>0.0</distortion_k1>
            <distortion_k2>0.0</distortion_k2>
            <distortion_k3>0.0</distortion_k3>
            <distortion_t1>0.0</distortion_t1>
            <distortion_t2>0.0</distortion_t2>
            <pointCloudCutoff>0.4</pointCloudCutoff>
        </plugin>
        </sensor>
        </gazebo>
  </xacro:macro> 

</robot>


