<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <!--Inertia of the cuboid in kg*m^2-->
    <xacro:macro name="cuboid_inertia" params="m:=1.0 x y z">
      <inertia  ixx="${m*(y*y+z*z)/12.0}" ixy = "0.0" ixz = "0.0"
                iyy="${m*(x*x+z*z)/12.0}" iyz = "0.0"
                izz="${m*(x*x+z*z)/12.0}" /> 
    </xacro:macro>
    
    <!--Inertia of the cylinder in kg*m^2-->
    <xacro:macro name="cylinder_inertia" params="m:=1.0 r h">
      <inertia  ixx="${m*(3*r*r+h*h)/12.0}" ixy = "0.0" ixz = "0.0"
                iyy="${m*(3*r*r+h*h)/12.0}" iyz = "0.0"
                izz="${m*(r*r)/2.0}" /> 
    </xacro:macro>
</robot>