<launch>
	<!-- Notebook machine -->
	<machine name="notebook" 
				address="notebook_eth" 
				user="$(optenv USER ros)" 
				env-loader="/home/themin/ws/ws_linux/devel/setup.sh" 
				default="true"/>

	<!-- Raspberry Pi machine -->
	<machine name="rpi" 
				address="rpi_eth"
				user="robot" 
				timeout="12"
				env-loader="/home/robot/scripts/ros_remote_env.bash" 
				default="never"/>
</launch>
