<launch>
	<!-- Run platform drivers and sensors -->
	<include file="$(find carol_launch)/launch/platform_with_sensors.launch"/>


	<!-- Run navigation package -->
	<include file="$(find carol_navigation)/launch/navigation.launch"/>

	<!-- Laserscans merger -->
  <include file="$(find carol_launch)/launch/laserscan_multi_merger.launch"/>

</launch>
