<launch>
    <arg name="robot_prefix" default="r1"/>
    <!-- Allows to switch between real robot and Gazebo simulation -->
    <arg name="real_robot" default="false" />

	<!-- Run real hardware drivers -->
	<group if="$(arg real_robot)">
		<include file="$(find tacbot_launch)/launch/hardware_drivers.launch"/>
	</group>

	<!-- Run Gazebo simulation -->
	<group unless="$(arg real_robot)">
        <include file="$(find tacbot_simulation)/launch/world1.launch">
            <arg name="robot_prefix" value="$(arg robot_prefix)"/>
            <arg name="gui" value="true"/>
        </include>
	</group>

    <!-- Run velocity filter -->
    <include file="$(find tacbot_launch)/launch/velocity_filter.launch">
        <arg name="prefix" value="$(arg robot_prefix)"/>
    </include>
</launch>
