<launch>
	<!-- Start orocos components -->	 
    <include file="$(find tacbot_launch)/launch/tacbot_deployer.launch"/>

	<!-- Run robot velocity commands multiplexer -->
    <include file="$(find tacbot_launch)/launch/cmd_vel_mux.launch"/>

  <!--  Run velocity commands filter -->
  <include file="$(find tacbot_launch)/launch/velocity_filter.launch"/>

	<!-- Start robot sensors with transformations and types converters-->
  <include file="$(find tacbot_launch)/launch/sensors.launch"/>


    <!-- Start robot sensors with transformations-->

    <!-- Run UKF localization node
    <include file="$(find tacbot_launch)/launch/localization_ukf.launch"/> -->

	<!-- Run cliffs detector 
	<include file="$(find cliff_detector)/launch/cliff_detector.launch"/>
	-->
</launch>
