<launch>
    <arg name="prefix" default="r1"/>

    <!-- Run robot drive -->
    <include file="$(find tacbot_launch)/launch/drivers_interface.launch"/>
      
	<!-- Run velocity filter commands filter -->
	<include file="$(find tacbot_launch)/launch/velocity_filter.launch"/>

    <!-- Run velocity filter commands filter -->
	<include file="$(find tacbot_launch)/launch/relative_localization.launch">
	    <arg name="prefix" value="$(arg prefix)"/>
	</include>
	
	<!-- Conversion depth image from Kinect sensor to laserscan -->
	<node name="laserscan_kinect" pkg="laserscan_kinect" type="laserscan_kinect">
	    <param name="output_frame_id" value="$(arg prefix)_camera_depth_frame"/>
	    <remap from="image" to="kinect/depth/image_raw"/>
	    <remap from="camera_info" to="kinect/depth/camera_info"/>
	    <remap from="scan" to="scan_kinect"/>
	    <rosparam command="load" 
	         file="$(find tacbot_launch)/config/laserscan_kinect_params.yaml"/>
	</node>
  
</launch>
