<!-- Displays urdf model in rviz -->
<launch>

  <arg name="prefix" value="r1" />
  <arg name="model" default="$(find tacbot_description)/urdf/robot.xacro"/>
  
  <arg name="rvizconfig" default="$(find tacbot_description)/rviz/urdf.rviz" />

  <param name="robot_description" 
         command="$(find xacro)/xacro $(arg model) --inorder prefix:=$(arg prefix)" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

  <group ns="r1">
	  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  </group>
 
</launch>
