<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- IMU sensor for simulation -->
    <xacro:macro name="sensor_imu_gazebo" params="prefix">
        <gazebo reference="${prefix}_imu_link">
        <sensor type="imu" name="${prefix}_imu">
            <always_on>true</always_on>
            <update_rate>100</update_rate>
            <visualize>false</visualize>
            <imu>
                <noise>
                    <type>gaussian</type>
                    <rate>
                        <mean>0.0</mean>
                        <stddev>${0.0014*0.0014}</stddev>
                        <bias_mean>0.0</bias_mean>
                        <bias_stddev>0.0</bias_stddev>
                    </rate>
                    <accel>
                        <mean>0.0</mean>
                        <stddev>1.7e-2</stddev>
                        <bias_mean>0.1</bias_mean>
                        <bias_stddev>0.001</bias_stddev>
                    </accel>
                </noise>
            </imu>
        </sensor>
        </gazebo>
        <gazebo>
        <plugin name="gazebo_ros_imu_controller" filename="libgazebo_tacbot_imu.so">
            <imu_name>${prefix}_imu</imu_name>
            <topic_name>imu_raw</topic_name>
            <frame_name>imu_link</frame_name>
        </plugin>
        </gazebo>
    </xacro:macro>

</robot>